.airbnb-cancel-cross {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 13px;
	background-color: rgba(32, 32, 43, 0.8);
	border-radius: 50%;
	padding: 7px;
	cursor: pointer;
}
.airbnb-cancel-cross:hover {
	background-color: #ff385c;
	color: rgba(255, 255, 255, 1);
}

/* Thumbnail Styles */
.listing-thumbnail {
    width: 100%;
    height: 160px;
    object-fit: cover;
    cursor: pointer;
}
.listing-thumbnail:hover {
    opacity: 0.9;
}
.airbnb-link {
	background-color: rgba(32, 32, 43, 0.8);
	color: rgba(255, 255, 255, 0.8);
	font-size: 0.8em;
	position: absolute;
	left: 10px;
	top: 10px;
	padding: 7px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 14px;
	text-decoration: none;
}
.airbnb-link:hover {
	background-color: #ff385c;
	color: rgba(255, 255, 255, 1);
}

.listing-content {
    padding: 10px;
    display: grid;
    grid-gap: 5px;
    overflow: hidden;
    font-size: 0.8em;
}
.title-wrapper {
    display: grid;
    grid-template-columns: auto min-content;
    grid-gap: 20px;
    align-items: center;
}

/* Title Styles */
.listing-title {
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    overflow: hidden;
}
/* Key Info Styles */
.listing-info {
    color: rgba(255, 255, 255, 0.6);
}
/* User Rating Styles */
.listing-rating {
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
}