.bottom-price-number-wrapper {
	display: flex;
	text-align: center;
	justify-content: space-evenly;
	font-size: 0.8em;
	padding-bottom: 10px;
}
.price-input {
	background-color: rgba(23, 23, 32, 1);
	border: 1.5px solid rgba(126, 126, 132, 1);
	border-radius: 5px;
}