.pdf-obs-wrapper {
	display: grid;
	grid-template-rows: min-content auto min-content;
	padding-top: 10px;
	padding-bottom: 20px;
	
}
.pdf-obs-input-wrapper {
	display: grid;
	padding: 5px; 
	padding-right: 20px;
	padding-left: 20px;

}
.pdf-obs {
	border: 1px solid rgba(0, 0, 0, 1);
	border-radius: 5px;
	text-indent: 10px;
	overflow: hidden;
	font-size: 16px;
}
.pdf-obs-info {
	display: grid;
	font-weight: 600;
	padding-right: 20px;
	padding-left: 20px;
}
.pdf-footer-input-wrapper {
	display: grid;
	grid-template-columns: 70px auto;
	align-items: end;
}
.pdf-footer-input {
	border: none;
	outline: none;
	border-bottom: 1px solid rgba(0, 0, 0, 1);
	resize: none;
	height: 16px;
	font-size: 16px;
	margin-bottom: 2px;
	overflow: hidden;
}
.pdf-address-input {
	outline: none;
	border-bottom: 1px solid rgba(0, 0, 0, 1);
	font-size: 16px;
	font-weight: 400;
	white-space: pre-wrap;
	overflow: hidden;
}
@media screen and (max-width: 1000px) {
	.pdf-obs-wrapper {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.pdf-obs-input-wrapper {
		padding-top: 2px; 
		padding-bottom: 2px; 
	}
}