.airbnb-wrapper {
  background-color: rgba(23, 23, 32, 1);
  overflow: hidden;
  display: grid;
  grid-template-columns: 5fr 14fr 5fr;
  padding: 5px;
  grid-gap: 5px;
}

.bottom {
  overflow: hidden;
  display: none;
}
.main-bottom {
  display: none;
}

// mobile-style
@media screen and (max-width: 1000px) {
  .airbnb-wrapper {
    grid-template-columns: auto;
    grid-template-rows: 3fr 2fr;
  }
}

@media screen and (max-width: 1000px) {
  .airbnb-right {
    display: none;
  }
}
// mobile-style
@media screen and (max-width: 1000px) {
  .main {
    grid-template-columns: auto;
    grid-template-rows: 3fr 2fr;
  }
  .main-bottom {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: space-evenly;
  }
  .prices {
    display: none;
  }
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .bottom {
    display: block;
  }
}