.pdf-basemaps {
  position: absolute;
  right: 2px;
  top: 30px;
  padding-top: 105px;
  padding-bottom: 5px;
  display: grid;
  z-index: 3;
  cursor: pointer;
  background: rgba(33, 33, 43, 1);
  border-radius: 5px;
}
.pdf-basemaps-image {
  padding: 5px;
  width: 18px;
}