.airbnb-location-wrapper {
	display: flex; 
	gap: 5px; 
	padding-left: 20px; 
	padding-right: 20px; 
	align-items: center;
	font-size: 0.7em;
	color: rgba(255, 255, 255, 0.6);
	white-space: nowrap;
	overflow: hidden;
}
.location-pin {
	width: 10px; 
	height: 14px;
	transform: translateY(-2px);
}