.pdf-images-wrapper {
	height: calc(100% - 5px);
	overflow-y: scroll;
	padding-left: 20px;
	padding-right: 10px;
}
.pdf-pictures {
	display: grid;
	padding-top: 10px;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
}
.pdf-pictures-box {
	display: grid;
	grid-template-columns: 12px auto;
	border: 1px solid rgba(0, 0, 0, 1);
	font-size: 1.4em;
}
.pdf-cancel-cross {
	width: 12px;
	padding: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.pdf-pictures-item {
	display: grid;
	grid-template-columns: min-content auto;
	font-size: 0.6em;
	cursor: pointer;
	background-color: rgba(241, 241, 241, 1);
}
.pdf-pictures-img {
	padding: 5px;
}
.pdf-pictures-description-wrapper {
	display: grid;
	grid-template-columns: auto min-content;
}
.pdf-pictures-description {
	padding-top: 5px;
	padding-bottom: 5px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	font-weight: 580;
}
// Track
.pdf-images-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  background: rgba(255, 255, 255, 1);
}
.pdf-images-wrapper::-webkit-scrollbar-thumb {
  background: rgba(126, 126, 132, 1);
  border-right: 5px solid rgba(255, 255, 255, 1);
}
@media screen and (max-width: 1000px) {
	.pdf-images-wrapper {
		padding-right: 20px;
	}
	.pdf-pictures-box {
		font-size: 1.2em;
	}
}